@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins&display=swap');

:root {
  --txt-color: #1a1a1a;
  --body-color: white;
}
* {
  font-family: poppins;
  padding: 0;
  color: var(--txt-color);
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  transition: all 0.2s;
}

/* MENU */
.menucontainer {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  z-index: 3;
  visibility: hidden;
  position: fixed;
  background-color: rgb(0, 0, 0, 0);
  -webkit-transition: background-color 1s, visibility 0s ease 1s;
  transition: background-color 1s, visibility 0s ease 1s;
}
.hy {
  width: 350px;
  height: 100vh;
}
.menu {
  background-color: var(--body-color);
  border-right: solid #ffd700 1px;
  width: 350px;
  position: absolute;
  opacity: 0;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.menuheader {
  border-bottom: solid #ffd700 1px;
  min-width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  color: var(--txt-color);
  margin-bottom: 5px;
  padding-left: 18px;
}
.menulogo {
  width: 40px;
  height: 40px;
}
.menutms {
  cursor: default;
  font-weight: 900;
}
.menulist li{
  margin-bottom: 5px;
  border: var(--body-color) solid 1px;
  border-radius: 10px;
  transition: all 0.2s;
}
.menulist li a{
  cursor: pointer;
  text-decoration: none;
  display: flex;
  padding: 10px 0 10px 20px;
}
.material-icons.homeicon {
  font-size: larger;
}
.material-icons.categoryicon {
  font-size: larger;
}
.material-icons.menucloseicon {
  cursor: pointer;
  color: white;
  border: none;
  background: none;
  position: relative;
  opacity: 0;
  left: 10px;
  top: 18px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* HEADER */
header {
  height: 150px;
  border-bottom: #ffd700 2px solid;
  display: flex;
  align-items: center;
}
.body {
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
}
.material-icons.menuicon {
  cursor: pointer;
  border: none;
  display: none;
  background: none;
  position: absolute;
  left: 20px;
}
.headerlogo {
  cursor: pointer;
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.headerlogo img {
  width: 300px;
}
.s1img {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 600px;
}
.s1txt {
  width: 33%;
  margin-left: 30px;
  text-overflow: wrap;
}
.s1txt h1{
  color: var(--txt-color);
  padding-left: 20px;
  /* border-radius: 10px; */
  font-size: 4vw;
  margin-bottom: 5px;
}
.s1txtbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 30vw;
}
.s1txt button{
  background-color: var(--body-color);
  border: 2px solid #ffd700;
  border-radius: 10px;
  font-size: larger;
  padding: 20px;
  cursor: pointer;
  transition: padding 0.3s, box-shadow 0.3s;
}
.s1txt button:hover {
  padding: 30px;
  box-shadow: 0 0 20px 20px #ffd700;
}
.s1img img {
  border-radius: 30px 160px 30px 230px;
  position: absolute;
  right: 10px;
  width: 55%;
  height: 80%;
}
.menu1 {
  display: block;
  position: absolute;
  left: 25%;
}
.menulist1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.menulist1 .div1{
  width: 100px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100px;
  transition: all 0.2s;
}
.menulist1 .div2{
  width: 200px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 250px;
  transition: all 0.2s;
}
.menulist1 div {
  cursor: pointer;
}
.menulist1 div a {
  color: var(--txt-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s;
}
.menulist1 div:hover a{
  color: #ffd700;
}
/* The switch - the box around the slider */
.switch {
  position: absolute;
  right: 20%;
  display: inline-block;
  width: 50px;
  height: 24px;
}
@media only screen and (min-width:700px) {
.switch:hover .slider {
  border: 2px solid #ffd700;
}
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #1a1a1a;
  transition: all 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #ffd700;
  transition: all 0.2s;
}

input:checked + .slider {
  border: 2px solid white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffd700;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.husername h4 {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s;
}
.account {
  display: flex;
  align-items: center;
  position:absolute;
  right: 5%;
  text-decoration: none;
}
.accbtncontainer {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 25px;
}
.accbtn {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--body-color);
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}
.material-icons.accicon {
  transition: all 0.2s;
}
.material-icons.accarrow {
  transition: all 0.2s;
}

/* ACCOUNT POPUP */
.logedin {
  display: none;
  width: 100%;
  height: fit-content;
}
.ya {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ya h3 {
  cursor: default;
  padding: 10px;
}
.un .h52 {
  padding: 10px 0 20px 5px;
  cursor: default;
}
.un .h51 {
  padding: 5px;
  cursor: default;
  width: 125px;
  border-bottom: #ffd700 solid 1px;
}
.accdtbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 0;
}
.accdtbtn a {
  outline: none;
  text-decoration: none;
}
.accdtbtn a button {
  cursor: pointer;
  background: none;
  border: #ffd700 solid 1px;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.2s;
}
.accdtbtn a button:hover {
  box-shadow: 3px 3px 8px -2px #ffd700, -3px 3px 8px -2px #ffd700;
}
.accpopupcontainer {
  position: absolute;
  top: 18px;
  right: 0px;
  visibility: hidden;
  width: 135px;
  height: 40px;
  display: flex;
  justify-content: center;
  overflow: visible;
  transition: visibility 0s 0s;
}
.accpopup {
  padding: 5px;
  position: absolute;
  top: 29px;
  right: 0;
  width: 250px;
  height: fit-content;
  background-color: var(--body-color);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s;
  border: solid 2px #ffd700;
}
.accdtbtn {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accdtbtn button {
  margin: 0 20px 0 20px;
  cursor: pointer;
  background: none;
  border: #ffd700 solid 1px;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.2s;
}
#loginnote {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#loginnote h4 {
  display: none;
  color: var(--txt-color);
}
.accbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.accbuttons button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background: none;
  width: 100px;
  transition: all 0.2s;
}
.accpopup button:hover {
  color: #ffd700;
}
.accbtncontainer:hover .accbtn {
  border-bottom: 2px solid #ffd700;
}
.accbtncontainer:hover .accbtn span {
  color: #ffd700;
}
.accbtncontainer:hover .accbtn h4 {
  color: #ffd700;
}
.accbtncontainer:hover .material-icons.accarrow {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}




@media only screen and (max-width:1000px) {
  .headerlogo img {
    width: 250px;
  }
  .switch {
    right: 30%;
  }
  .menu1 {
    display: none;
  }
  .material-icons.menuicon {
    display: block;
  }
}
@media only screen and (max-width:700px) {
  .slider {
    transition: all 0s;
  }
  .slider:before {
    transition: all 0.2s;
  }
  .headerlogo img {
    width: 200px;
  }
  .switch {
    right: 20%;
  }
  .menucontainer {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    visibility: hidden;
    position: fixed;
    z-index: 2;
    background-color: rgb(0, 0, 0, 0);
    -webkit-transition: background-color 0.2s, display 0s ease 0.2s;
    transition: background-color 0.2s, display 0s ease 0.2s;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .husername h4 {
    display: none;
  }
  .material-icons.accarrow {
    display: none;
  }
  .accbuttons button {
    transition: all 0s;
  }
  .accbtn {
    border-radius: 30px;
    border: 2px solid var(--body-color);
    transition: all 0s;
  }
  .accbtncontainer:hover .accbtn {
    border: 2px solid var(--body-color);
  }
  .accbtncontainer:hover .accbtn span {
    color: var(--txt-color);
  }
  .material-icons.accicon {
    transition: all 0s;
  }
}
::-webkit-scrollbar {
  display: none;
}